body {
    --black-1: #1c1e26;
    --black-1-50: #1c1e2688;
    --black-2: #232530;
    --black-3: #2e303e;
    --grey: #6c6f93;
    --gray: #6c6f93;

    --purple: #b877db;
    --red: #f43e5c;
    --pink: #e95378;
    --orange: #fab38e;
    --yellow: #fac39a;
    --cyan: #21bfc2;
    --dgreen: #27d797;
    --green: #09f7a0;

    margin: 0;
    background-color: var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
}

.content * {
    opacity: 0;
    will-change: transform;
}

.content *.done {
    will-change: unset;
}

.h1D {
    font-size: 52pt;
    font-family: 'Google Sans Bold', sans-serif;
    color: var(--black-1);
    margin: 0;
}

.h2D {
    font-family: 22pt;
    font-family: 'Google Sans', sans-serif;
    color: var(--black-1);
    margin: 0;
}

.pageHeader h1 {
    margin-top: 80px;
    font-size: 65pt;
}

.pageHeader h2 {
    margin-top: -15px;
    font-size: 27pt;
}

#vid1 {
    margin: 100px 0 0 0;
}

.gradientTopBar {
    background-image: linear-gradient(0.25turn, var(--purple), var(--red));
    width: 0;
    height: 3px;
    margin: 0 auto;
}

.page {
    text-align: center;
}

.content {
    max-width: 900px;
    width: 100%;
    display: inline-block;
    /* background-color: #0F03; */
}

.alignLeft {
    text-align: left;
}

#secondPageHeader {
    margin-top: 150px;
}

#vid2 {
    margin: 20px 0 0 0;
}

#h3 {
    margin: 200px 0 30px 0;
    color: var(--black-2);
}

.instructions {
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20pt;
    font-family: 'Google Sans Bold', sans-serif;
    color: var(--red);
    padding: 10px 60px;
    background-color: var(--black-1);
    box-shadow: 0px 30px 30px -10px var(--black-1-50);
    transition: .3s;
}

.instructions:hover {
    box-shadow: 0px 10px 10px -9px var(--black-1-50);
    letter-spacing: 4px;
}

.spacer {
    height: 200px;
}

video {
    box-shadow: 0px 30px 40px -5px var(--black-1-50);
}

@media screen and (max-width: 950px) {
    video {
        max-width: 100% !important;
        height: auto;
    }

    .h1D {
        font-size: 9vw !important;
    }

    .h2D {
        font-size: 5vw !important;
    }

    .pageHeader .h2D {
        margin-top: -1vw !important;
        font-size: 3vw !important;
    }
}